{% extends 'base.html' %}
{% load static %}

{%block content%}
{% if not user.is_authenticated  %}
    <p>No tiene la sesion iniciada</p>
    <a href="{% url 'login' %}" >Iniciar sesion</a>

{%else%}
    <div class="navbar">    
    <p>Bienvenido al sistema {{user.username}}</p>
    
    
    </div>
    <div id='container' class='row-wrap'>
        {% for i in fg %}
        <div class="card">
            <h4>{{i.grupo}}</h4>
            <hr>
            <div class="row">
                {% for o in i.paises %}
                    <div class="btn">
                        <img class="paisImagen" src="{{o.icono}}"/>
                        {{o.nombre}}</div>
                {%endfor%}
            </div>
            <div>
                <div>1.__________</div>
                <div>2.__________</div>
                <div>3.__________</div>
                <div>4.__________</div>
            </div>
        </div>
        {%endfor%}
        
    </div>
    
{%endif%}
{%endblock%}
{%block js%}
<script src="{% static 'main.js'%}" type="module"></script>

{%endblock%}