{% extends 'base.html' %}
{% load static %}

{%block content%}
{% if not user.is_authenticated  %}
    <p>No tiene la sesion iniciada</p>
    <a href="{% url 'login' %}" >Iniciar sesion</a>

{%else%}
    <div class="navbar">    
    <p>Bienvenido al sistema {{user.username}}</p>
    
    
    </div>
    <div id='container' class='row-wrap'>
        {% for i in fg %}
        <div class="card">
            <h4>Grupo {{i.grupo}}</h4>
            <hr>
            <div class="row">
                {% for o in i.paises %}
                    <div id="btn-{{i.grupo}}-{{o.codigo}}-{{o.icono}}" class="btn">
                        <img class="paisImagen" src="{{o.icono}}"/>
                        {{o.codigo}}</div>
                {%endfor%}
            </div>
            <div>
                <div id="seleccionado-0-{{i.grupo}}">1.__________</div>
                <div id="seleccionado-1-{{i.grupo}}">2.__________</div>
                <div id="seleccionado-2-{{i.grupo}}">3.__________</div>
                <div id="seleccionado-3-{{i.grupo}}">4.__________</div>
            </div>
        </div>
        {%endfor%}
        
    </div>
    
{%endif%}
{%endblock%}
{%block js%}
<script type="text/javascript">
    let predicciones = {};
    let botones = document.querySelectorAll(".btn");
    botones.forEach((btn) => {
        btn.onclick = (event) => {
            let group = btn.id.split("-")[1];
            let pais = btn.id.split("-")[2];
            let icono = btn.id.split("-")[3];
            if (!predicciones[group]) predicciones[group] = [];
            if (predicciones[group].length < 4 && predicciones[group].indexOf(pais) === -1) {
                document.querySelector(`#seleccionado-${predicciones[group].length}-${group}`)
                    .innerHTML = `${predicciones[group].length + 1} - <img class="paisImagen" src="${icono}"/>${pais}`;
                predicciones[group].push(pais);
            }
        }
    })

</script>

{%endblock%}